<p id="notice"><%= notice %></p>

<h2><%= @user.username %></h2>

<p>
  <% if @user.ratings.empty? %>
    hasn't made any ratings yet.
  <% else %>
    has made <%= pluralize(@user.ratings.count, "rating") %>.

    <h3>Ratings</h3>
    <ul>
      <% @user.ratings.each do |rating| %>
        <li>
          <%= rating %> 
          <% if @user == current_user %>
            <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %> 
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
</p>

<h3>Member of:</h3>
<ul>
  <% @user.beer_clubs.each do |beer_club| %>
    <li><%= link_to beer_club.name, beer_club %></li>
  <% end %>
</ul>



<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', users_path %>
